body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
}

nav{
display:flex;
justify-content:space-between;
padding:20px 40px;
background:#020617;
}

nav ul{
display:flex;
list-style:none;
gap:20px;
}

.hero{
text-align:center;
padding:100px 20px;
}

.hero h1{
font-size:48px;
color:#38bdf8;
}

.hero button{
padding:15px 30px;
background:#38bdf8;
border:none;
color:white;
border-radius:8px;
cursor:pointer;
}

.features{
padding:60px 20px;
text-align:center;
}

.feature-box{
display:flex;
justify-content:center;
gap:30px;
margin-top:30px;
}

.card{
background:#1e293b;
padding:20px;
width:250px;
border-radius:10px;
}

.tool-section{
text-align:center;
padding:60px;
}

input{
padding:12px;
width:250px;
border:none;
border-radius:6px;
}

button{
padding:12px 20px;
background:#38bdf8;
border:none;
color:white;
border-radius:6px;
cursor:pointer;
}

#hasil{
margin-top:20px;
background:#020617;
padding:20px;
border-radius:8px;
}

.pricing{
padding:60px;
text-align:center;
}

.pricing-box{
display:flex;
justify-content:center;
gap:30px;
}

.price-card{
background:#1e293b;
padding:30px;
border-radius:10px;
width:200px;
}

footer{
text-align:center;
padding:20px;
color:#94a3b8;
}
