body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  text-align: center;
  margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

h1 {
  color: #38bdf8;
}

h2 {
  color: #facc15;
}

.card {
  background: #1e293b;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.price {
  font-size: 30px;
  color: #22c55e;
}

.strike {
  text-decoration: line-through;
  color: #94a3b8;
}

button {
  padding: 10px 15px;
  background: #3b82f6;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

.result-grid {
  margin-top: 20px;
  display: grid;
  gap: 15px;
}

.card {
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
}


.btn-primary {
    background: linear-gradient(45deg,#6366f1,#22c55e);
    border: none;
    padding: 10px 25px;
    border-radius: 30px;
    color:white;
    cursor: pointer;
}

.logo {
    font-weight: bold;
    font-size:20px;
    margin-bottom: 30px;
    color: #38bdf8;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 25px;
  background: #22c55e;
  color: black;
  font-weight: bold;
  text-decoration: none;
  border-radius: 8px;
}

.btn:hover {
  background: #16a34a;
}